<div animate.enter="fade-in">
    <div class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between mb-10">
        <div>
            <h1 class="text-2xl font-semibold text-gray-900">June 12 exams - Centers</h1>
            <p class="mt-1 text-sm text-gray-600">Manage exam centers</p>
        </div>
        <div class="flex gap-3 lg:justify-end mb-5">
            <button (click)="showUploadAttachmentDialog = !showUploadAttachmentDialog" class="btn fill gap-2">
                <i class="pi pi-plus"></i>
                Import centers
            </button>
            <button class="btn fill bg-gray-700! gap-2">
                Push to examalpha
            </button>
        </div> 
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
        <div class="bg-white rounded-xl p-6 border border-gray-200">
            <div class="text-sm text-gray-500 mb-1">Total centers</div>
            <div class="text-3xl font-bold text-gray-900">0</div>
        </div>
        <div class="bg-white rounded-xl p-6 border border-gray-200">
            <div class="text-sm text-gray-500 mb-1">Total participants</div>
            <div class="text-3xl font-bold text-gray-900">0</div>
        </div>
        <div class="bg-white rounded-xl p-6 border border-gray-200">
            <div class="text-sm text-gray-500 mb-1">Total Pushed</div>
            <div class="text-3xl font-bold text-gray-900">0</div>
        </div>
    </div>

    <div class="bg-white p-5 rounded-2xl">
        <div class="text-gray-600 font-bold mb-5 ">Centers Records | {{ 12}}</div>
        <div class="border rounded-xl border-gray-200 overflow-hidden w-full"> 
            <p-table [value]="centers()" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr class="thr">
                        <th>Name</th>
                        <th>Id</th>
                        <th>State</th>
                        <th>No. of participants</th>
                        <th>Date</th>
                        <th>Pushed</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item let-i="rowIndex">
                    <tr class="tbr">
                        <td> {{ item.name }} </td>
                        <td> {{ item.id }} </td>
                        <td> {{ item.state }} </td>
                        <td> {{ item.participants }} </td>
                        <td> {{ item.date }} </td>
                        <td> {{ item.pushed }} </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div  class="flex justify-start text-xs! mt-5">
            <p-paginator
                class="px-0! py-1"
                [rows]="10"
                [totalRecords]="3"
                [showCurrentPageReport]="true"
                [showPageLinks]="true"
                currentPageReportTemplate="{first} - {last} of {totalRecords}" />
        </div>
    </div>
</div>

<p-dialog header="UPLOAD CSV" [focusOnShow]="false" [modal]="true" [(visible)]="showUploadAttachmentDialog" (visibleChange)="resetFile(file)" [style]="{ width: '30rem', margin: '0 10px' }">
    <form class="form">
        <div class="form-container gap-3">
            <div  class="form-group border rounded-md border-gray-200 bg-gray-50 p-5">
                <div (click)="file.click()">
                    <img src="icons/cloud-upload.svg" alt="" class="w-10 mx-auto">
                    <div class="text-primary text-center">Click to upload file</div>
                    <div class="font-light text-base text-center">Kindly attach CSV or excel file</div>
                    <div class="font-light text-center">(Max 10mb)</div>
                </div>
                <input (change)="onFileSelected($event)" #file type="file" class="form-control mx-auto w-max! border-0! file:bg-primary-light file:rounded-2xl file:border-transparent! file:outline-none! file:p-3 file:text-xs">
            </div>
            <div class="flex items-center justify-between gap-3 mt-3 col-span-full">
                <button type="button" (click)="ImportCenters()" class="btn fill flex-1">Import</button>
            </div>
        </div>
    </form>
</p-dialog> 